# Archivos y carpetas a ignorar por git

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/

# Archivos de datos y salidas temporales
*.xlsx
*.csv
*.log
*.tmp

# Archivos de configuración de entorno
.env

# Archivos de VSCode
.vscode/

# Archivos de mejoras sugeridas
mejoras_sugeridas.txt
